<div class="oj-hybrid-padding">
    <h1 data-bind="text: heading"></h1>
    <hr>
    <oj-refresher id="refresher" refresh-content="[[updateChart]]" text="Fetching latest data...">
            <div id="form-container" class="oj-form-layout">
                <div class="oj-sm-labels-inline">
                    <div class="oj-form oj-flex">
                        <div class="oj-flex-item">
                            <oj-label for="threeDFlag">3D</oj-label>
                        </div>
                        <div class="oj-flex-item">
                            <oj-switch id="threeDFlag" value="{{threeDEffect}}"></oj-switch>
                        </div>
                    </div>
                </div>
            </div>
            <div class="oj-margin"></div>
        <div style="cursor: pointer; height: 30px;" class="oj-flex oj-sm-flex-items-initial oj-sm-justify-content-center">
            <oj-buttonset-one id="pieType1" value="{{pieType}}">
                <oj-option value="pie" style="cursor: pointer !important;">
                    <span>Pie</span>
                </oj-option>
                <oj-option value="donut" style="cursor: pointer !important;">
                    <span>Donut</span>
                </oj-option>
            </oj-buttonset-one>
        </div>
        <div class="oj-flex oj-flex-items-pad">
            <div id="pieContainer" class="oj-flex-item oj-sm-flex-items-initial oj-sm-justify-content-center">
                <oj-chart id="pieChart"
                          type="pie" 
                          series="[[pieSeriesValue]]"
                          selection-mode="single"
                          selection="{{selectionValue}}"
                          animation-on-display="auto"
                          animation-on-data-change="auto"
                          style-defaults.pie-inner-radius="[[innerRadius]]"
                          style-defaults.three-d-effect="[[threeDValue]]"
                          style-defaults.data-label-position="center"
                          value-formats.series.tooltip-label="Department"
                          value-formats.value.tooltip-label="Salary"
                          legend.rendered="off">
                </oj-chart>
            </div>
            <div id="barContainer" class="oj-flex-item oj-sm-flex-items-initial oj-sm-justify-content-center">
                <oj-bind-if test="showChild">
                    <oj-chart id="barChart"
                              type="bar"
                              orientation="vertical"
                              stack="off"
                              x-axis="{}"
                              y-axis.tick-label.converter="[[currencyConverter]]"
                              series="[[childPieSeriesValue]]"
                              groups="[[barGroupsValue]]"
                              zoom-and-scroll="live"
                              overview.rendered="on"
                              overview.height="20%"
                              overview.content='{"type":"area"}'
                              legend.rendered="off"
                              data-cursor="on"
                              initial-zooming="first"
                              animation-on-display="auto"
                              animation-on-data-change="auto"
                              style-defaults.three-d-effect="[[threeDValue]]"
                              value-formats.series.tooltip-display="off"
                              value-formats.group.tooltip-label="Employee"
                              value-formats.value.tooltip-label="Salary"
                              style-defaults.data-label-position="center">
                    </oj-chart>
                </oj-bind-if>
            </div>
        </div>
    </oj-refresher>
</div>