<div class="oj-flex oj-header-border">
    <div class="oj-flex-item">
        <h1 data-bind="text: heading" class="oj-sm-float-start"></h1>
        <div class="oj-sm-float-end" id='buttons-container' style="margin-top: 20px;">    
            <button id="addEmpl" data-bind="click: createEmployee, ojComponent: {component: 'ojButton', 
                                                                           icons: {end:'oj-fwk-icon-caret-end oj-fwk-icon'}, 
                                                                           label: 'Create'}">
            </button>
        </div>
    </div>
</div>
<div class="oj-panel oj-margin">
    <oj-table id='emplstable' aria-label='Employees' data='[[pagingDatasource]]'
              columns='[[employeeColumns]]' style='width: 100%;'
              selection-mode='[[selectionType]]'/>
    <oj-paging-control id="paging" data='[[pagingDatasource]]' page-size='[[employeeParams.pageSize]]' slot='bottom'/>
</div>
<script type="text/html" id="empl_ops">
    <td>
        <oj-button on-oj-action="[[function() {$parent.editEmployee($context.row.EmployeeId)}]]">
            <span slot='endIcon' class='oj-fwk-icon-caret-end oj-fwk-icon'></span>
        </oj-button>
        <oj-button on-oj-action="[[function() {$parent.deleteEmployee($context.row.EmployeeId) }]]">
            <span slot='endIcon' class='demo-garbage-icon-24 demo-icon-font-24'></span>
        </oj-button>
</td>
</script>
<script type="text/html" id="empl_date">
    <td>
        <span data-bind="text: $parent.getStringFromDate($context.row.HireDate, 'dd-MMM-yyyy')"></span>
    </td>
</script>
<script type="text/html" id="empl_info">
    <td>
        <div style="font-weight: 500">
            <span>
                <oj-bind-text value="[[$context.row.FirstName + ' ' + $context.row.LastName]]"></oj-bind-text>
            </span>
        </div>
        <span style="font-weight: 400; font-size: 12px;">
            <oj-bind-text value="[[$context.row.JobId + ', ' + $context.row.DepartmentName]]"></oj-bind-text>
        </span>
    </td>
</script>
<script type="text/html" id="empl_salary">
    <td>
        <div style="font-weight: 500">
            <span>
                <oj-bind-text value="[[$context.row.Salary]]"></oj-bind-text>
            </span>
        </div>
        <span style="font-weight: 400; font-size: 12px;">
            <oj-bind-text value="[['USD']]"></oj-bind-text>
        </span>
    </td>
</script>