hr-badge:not(.oj-complete){
    visibility: hidden;
}

hr-badge {
    display: block;
    height: 100%;
    width: -webkit-fill-available;
    perspective: 800px;
    box-sizing: border-box;
    cursor: pointer;
    text-align: center;
}

hr-badge .badge-reverse-side {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    z-index: -1;
}

hr-badge .badge-flip-container {
    position: absolute;
    height: 100%;
    width: 100%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, .25);
    border-radius: 5px;
}

hr-badge .badge-flip-container.badge-flipped {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

hr-badge .badge-flip-container.badge-flipped .badge-reverse-side {
    -ms-transform: rotateY(360deg);
    z-index: 0;
}

hr-badge .badge-flip-container.badge-flipped .badge-front-side {
    -ms-transform: rotateY(360deg);
    z-index: 0;
}

hr-badge .badge-front-side, 
hr-badge .badge-reverse-side {
    position: absolute;
    height: 100%;
    width: -webkit-fill-available;
    background-size: cover;
    border-radius: 5px;
    -webkit-backface-visibility: hidden;
    box-sizing: border-box;
    text-align: center;
}